In [35]:
# -*-encoding=utf-8-*-
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
test_data = pd.read_csv("K:\datadig222\datadig4\lesson2\\test.csv")
train_data = pd.read_csv("K:\datadig222\datadig4\lesson2\\train.csv")

In [36]:
test_data=pd.DataFrame.round(test_data,2)
train_data=pd.DataFrame.round(train_data,2)

In [37]:
X_train = train_data.iloc[:, 2:15]
y_train = train_data.loc[:, ['target']]
X_test = test_data.iloc[:,2:15]
y_test = test_data.loc[:, ['target']]

In [38]:

X_train.head(10)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>brows_count</th>
      <th>collect_count</th>
      <th>add_count</th>
      <th>buy_count</th>
      <th>item_category</th>
      <th>addandbuy</th>
      <th>buyofbrows</th>
      <th>buyofcollect</th>
      <th>buyofadd</th>
      <th>u_brows_count</th>
      <th>u_collect_count</th>
      <th>u_add_count</th>
      <th>u_buy_count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>2284</td>
      <td>0</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
      <td>23</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
      <td>39</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>7971</td>
      <td>0</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
      <td>78</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
      <td>11</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
      <td>17</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
      <td>17</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
      <td>54</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [39]:


y_train.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>target</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [40]:
clf=DecisionTreeClassifier(criterion='entropy',max_depth=2)

In [42]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=2,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [43]:
clf.score(X_test, y_test)

0.91932501932838073

In [44]:
pre = clf.predict(X_test)
pre=pd.DataFrame(pre,columns=["pre"])
print pre

       pre
0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       1
13       0
14       1
15       1
16       0
17       1
18       1
19       0
20       0
21       0
22       1
23       0
24       0
25       0
26       0
27       0
28       0
29       0
...    ...
29719    0
29720    0
29721    0
29722    0
29723    0
29724    0
29725    0
29726    0
29727    0
29728    0
29729    0
29730    0
29731    0
29732    0
29733    0
29734    0
29735    0
29736    0
29737    0
29738    0
29739    0
29740    0
29741    0
29742    0
29743    0
29744    0
29745    0
29746    0
29747    0
29748    0

[29749 rows x 1 columns]

In [51]:
test_data['pre'] = pre
print test_data.head(10)

   user_id    item_id  brows_count  collect_count  add_count  buy_count  \
0    59436  238861461            2              0          0          0
1    60723  202829025            2              0          0          0
2    60723  371933634            2              0          0          0
3   106362   38830684            1              0          0          0
4   106362  149517272            2              0          0          0
5   106362  200051509            1              0          0          0
6   106362  236862264            1              0          0          0
7   106362  308735138            1              0          0          0
8   106362  342598663            1              0          0          0
9   106362  364101379            1              0          0          0

   item_category  addandbuy  buyofbrows  buyofcollect  buyofadd  \
0              0          0         0.0             0       0.0
1              0          0         0.0             0       0.0
2              0          0         0.0             0       0.0
3              0          0         0.0             0       0.0
4              0          0         0.0             0       0.0
5              0          0         0.0             0       0.0
6              0          0         0.0             0       0.0
7              0          0         0.0             0       0.0
8              0          0         0.0             0       0.0
9              0          0         0.0             0       0.0

   u_brows_count  u_collect_count  u_add_count  u_buy_count  target  pre
0              2                0            0            0       0    0
1              4                0            0            0       0    0
2              4                0            0            0       0    0
3              9                0            0            0       0    0
4              9                0            0            0       0    0
5              9                0            0            0       0    0
6              9                0            0            0       0    0
7              9                0            0            0       0    0
8              9                0            0            0       0    0
9              9                0            0            0       0    0

In [52]:
#target中1的个数
target_n = test_data[test_data['target'] == 1].shape[0]
print target_n

122

In [53]:
print test_data.head(20)

    user_id    item_id  brows_count  collect_count  add_count  buy_count  \
0     59436  238861461            2              0          0          0
1     60723  202829025            2              0          0          0
2     60723  371933634            2              0          0          0
3    106362   38830684            1              0          0          0
4    106362  149517272            2              0          0          0
5    106362  200051509            1              0          0          0
6    106362  236862264            1              0          0          0
7    106362  308735138            1              0          0          0
8    106362  342598663            1              0          0          0
9    106362  364101379            1              0          0          0
10   106362  377408757            1              0          0          0
11   137907  166251701            4              0          0          0
12   161481   14285814            2              0          1          0
13   161481   19246429            2              0          0          0
14   161481   25651335            6              0          1          0
15   161481  155199637            4              0          1          0
16   161481  215338463            1              0          0          0
17   161481  235875168            1              0          1          0
18   161481  383479841            2              0          1          0
19   161481  399814334            2              0          0          0

    item_category  addandbuy  buyofbrows  buyofcollect  buyofadd  \
0               0          0         0.0             0       0.0
1               0          0         0.0             0       0.0
2               0          0         0.0             0       0.0
3               0          0         0.0             0       0.0
4               0          0         0.0             0       0.0
5               0          0         0.0             0       0.0
6               0          0         0.0             0       0.0
7               0          0         0.0             0       0.0
8               0          0         0.0             0       0.0
9               0          0         0.0             0       0.0
10              0          0         0.0             0       0.0
11              0          0         0.0             0       0.0
12              0          0         0.0             0       0.0
13              0          0         0.0             0       0.0
14              0          0         0.0             0       0.0
15              0          0         0.0             0       0.0
16              0          0         0.0             0       0.0
17              0          0         0.0             0       0.0
18              0          0         0.0             0       0.0
19              0          0         0.0             0       0.0

    u_brows_count  u_collect_count  u_add_count  u_buy_count  target  pre
0               2                0            0            0       0    0
1               4                0            0            0       0    0
2               4                0            0            0       0    0
3               9                0            0            0       0    0
4               9                0            0            0       0    0
5               9                0            0            0       0    0
6               9                0            0            0       0    0
7               9                0            0            0       0    0
8               9                0            0            0       0    0
9               9                0            0            0       0    0
10              9                0            0            0       0    0
11              4                0            0            0       0    0
12             20                0            0            0       0    1
13             20                0            0            0       0    0
14             20                0            0            0       0    1
15             20                0            0            0       0    1
16             20                0            0            0       0    0
17             20                0            0            0       0    1
18             20                0            0            0       0    1
19             20                0            0            0       0    0

In [54]:
#pre中1的个数
pre_n = test_data[test_data['pre'] >= 0.5].shape[0]
print pre_n

2402

In [ ]:
#pre==1并且target==1的个数
pre_target_n=test_data[(test_data['pre'] >= 0.5)&(test_data['target'] == 1)].shape[0]
print pre_target_n

In [ ]:
target_n = float(target_n)
pre_n = float(pre_n)
pre_target_n = float(pre_target_n)
precision = target_n / pre_n
recall = target_n / pre_target_n
F1 = 2 * precision * recall / (precision + recall)
print F1